@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;
  align-items: center;

  &__prev {
    width: 20%;
    padding-left: 10%;

    &-link {
      color: $color-secondary;
      font-size: 20px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }

    }

  }

  &__next {
    width: 20%;
    text-align: right;
    padding-right: 10%;

    &-link {
      color: $color-secondary;
      font-size: 20px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }

    }

  }

}